In [26]:
import pandas as pd

dados_treino = pd.read_csv(r"C:\Users\Jamylle\PycharmProjects\PythonProject\dados\Dados Históricos BTC_BRL - MercadoBitcoin.csv")
dados_treino.head(10)

         Data   Último  Abertura   Máxima   Mínima   Vol.    Var%
0  01.01.2025  588.825   583.265  591.790  580.000  0,01K   0,95%
1  31.12.2024  583.265   576.922  599.000  573.000  0,03K   1,10%
2  30.12.2024  576.922   584.474  590.600  568.779  0,05K  -1,29%
3  29.12.2024  584.474   594.014  594.382  580.386  0,02K  -1,51%
4  28.12.2024  593.460   588.051  595.325  587.000  0,01K   0,92%
5  27.12.2024  588.051   594.124  605.600  581.000  0,04K  -1,02%
6  26.12.2024  594.124   620.383  624.795  591.355  0,04K  -4,23%
7  25.12.2024  620.383   615.380  621.546  610.000  0,02K   0,81%
8  24.12.2024  615.380   590.970  620.896  583.330  0,03K   4,13%
9  23.12.2024  590.970   586.351  596.991  577.000  0,05K   0,79%

In [27]:
dados_teste = pd.read_csv(r"C:\Users\Jamylle\PycharmProjects\PythonProject\dados\btcusdt_teste.csv")
dados_teste.head(10)

                 Data    Preço          MA7       MA25  NumTransacoes
0  17/3/2020 17:32:00  5394.09  5383.700000  5366.0336            574
1  17/3/2020 17:33:00  5389.87  5385.415714  5367.6516            834
2  17/3/2020 17:34:00  5393.02  5387.421429  5369.6316            681
3  17/3/2020 17:35:00  5415.05  5393.014286  5372.6048           1386
4  17/3/2020 17:36:00  5415.87  5397.575714  5375.6716           1137
5  17/3/2020 17:37:00  5417.23  5402.095714  5378.4372            730
6  17/3/2020 17:38:00  5435.00  5408.590000  5381.3572           1500
7  17/3/2020 17:39:00  5427.30  5413.334286  5384.0708           2153
8  17/3/2020 17:40:00  5417.34  5417.258571  5386.0476            900
9  17/3/2020 17:41:00  5409.90  5419.670000  5387.7092            570